### Uppgift 1
Adderar två tal och skriver ut resultatet i variabeln `my_result`.

In [1]:
num1 = 5
num2 = 3

my_result = num1 + num2
print(my_result)

8

### Uppgift 2 – Multiplicera två tal
Multiplicerar `number_1` och `number_2`, sparar i `my_mult_result` och skriver ut.

In [6]:
number_1 = 10
number_2 = 7

my_mult_result = number_1 * number_2
print(my_mult_result)

70

### Uppgift 3 – Förklara `10 % 3`
Modulus (%) ger resten. Exempelvis 10 % 3 = 1.

In [8]:
print(10 % 3)

1

### Uppgift 4 – Förklara `27//6`
Division med `//` ger ett heltal, ett `/` ger flyttal (decimaler). `//` avrundas alltid ner.

In [10]:
print(27//6)

4

### Uppgift 5 – Felsök en sträng med apostrof

In [ ]:
print("It's fun to learn Python!")

## Har man en apostrof med ett "single quote" i strängen så måste man använda dubbla citattecken runt om.

It's fun to learn Python!

### Uppgift 6 – Vad gör `print('ha'*3)`?

In [13]:
print('ha'*3)

hahaha

### Uppgift 7 – Extrahera 'Anna' med slicing

In [17]:
name = 'Anna Andersson'
print(name [:4])

Anna

### Uppgift 8 – Hur många tecken har strängen?
Använd `len()`-funktionen.

In [18]:
full_name = 'Anna Andersson'
print(len(full_name))

14

### Uppgift 9a – f-string med två variabler

In [19]:
founder = 'Guido'
language = 'Python'

print(f'Hello {founder}, {language} is really fun to learn!')

Hello Guido, Python is really fun to learn!

### Uppgift 9b – Skriv ut hela namnet i en variabel och använd f-string igen

In [21]:
founder_full_name = 'Guido van Rossum'
print(f'Hello {founder_full_name}, {language} is really fun to learn!')

Hello Guido van Rossum, Python is really fun to learn!

### Uppgift 10 – Varför blir detta fel?
För att tuples är **immutabla** – man kan inte ändra ett värde direkt.

In [ ]:
my_first_tuple = (10, 5, 'hi', 3)
# my_first_tuple[1] = 10  # Ger TypeError

### Uppgift 11 – Vad gör koden?
Hämtar det första elementet ur tuple, och sedan 'Java' från listan inuti tuplen.

In [ ]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')
print(my_tuple[0]) ## skriver ut första elementet i my_tuple
print(my_tuple[-1]) ## skriver ut sista elementet i my_tuple
print(my_tuple[1][2])  ## går till listan och skriver ut element med index 2.

languages
apples
C

### Uppgift 12 – Kolla typ på `my_tuple`

In [23]:
print(type(my_tuple)) ## skriver ut vilken typ av datatyp my_tuple är

<class 'tuple'>

### Uppgift 13 – Vad gör koden nedan?

In [ ]:
my_first_list = [10, 5, 'hi', 3]
my_first_list[1] = 7
print(my_first_list)

## 1. Skapa en lista med värdena
## 2. Ändrar värdet på index 1 till 7
## 3. Skriv ut listan

[10, 7, 'hi', 3]

### Uppgift 14 – Datatyp för my_first_list

In [26]:
print(type(my_first_list))  # <class 'list'>

<class 'list'>

### Uppgift 15 – Räkna antal element i shopping_list

In [27]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']
print(len(shopping_list))

5

### Uppgift 16 – Lägg till 'bread' i shopping_list

In [28]:
shopping_list.append('bread')
print(shopping_list)

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

### Uppgift 17 – Räkna antal 7 i lista

In [ ]:
my_numbers = [1, 7, 2, 7, 10, 7]
print(my_numbers.count(7))  # räknar hur många gånger 7 finns i listan

3

### Uppgift 18 – Konvertera tuple till lista

In [31]:
one_tuple = (1, 2, 3)
one_list = list(one_tuple)
print(one_list)

[1, 2, 3]

### Uppgift 19 – Vad gör koden?

In [ ]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}
print(my_first_dict['Goran'])

## 1. Skapa en dictionary med värdena
## 2. letar upp värdet för 'Goran' och skriver ut det

19

### Uppgift 20 – Kolla typ på my_first_dict

In [ ]:
print(type(my_first_dict))

<class 'dict'>

### Uppgift 21 – Varför syns 5 bara en gång i ett set?

In [35]:
my_set = {10, 5, 2, 5, 5}
print(my_set)  # Set visar bara unika värden

{10, 2, 5}

### Uppgift 22a – intersection mellan A och B

In [36]:
A = {1, 2, 3, 4, 5}
B = {3, 10, 5, 7}
print(A.intersection(B))

{3, 5}

### Uppgift 22b – union mellan A och B

In [37]:
print(A.union(B))

{1, 2, 3, 4, 5, 7, 10}

### Uppgift 22c – difference mellan A och B

In [38]:
print(A.difference(B))

{1, 2, 4}

### Uppgift 23a – element i båda listorna

In [39]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]
print(set(list_a).intersection(list_b))

{5}

### Uppgift 23b – element i list_a eller list_b

In [40]:
print(set(list_a).union(list_b))

{1, 2, 3, 4, 5, 6, 21, 10}

### Uppgift 24 – Unika element från tuple

In [41]:
unique_values = (10, 2, 2, 10, 1)
print(set(unique_values))

{1, 10, 2}